.container {
  display: flex;
}

.dashboard {
  position: relative;
  width: 100%;
  z-index: 0;
}

.topBaseGradients {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  overflow: hidden;
  z-index: -1;
}

.topBaseGradients>:nth-child(2)
{
    left: 40%;
}
.topBaseGradients>:nth-child(3)
{
    right: 0;
}
.header{
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
}
.header>:nth-child(1)
{
    font-size: 1.2rem;
}
.titleContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'Ringbearer', sans-serif;
    font-size: 2.3rem;
}
.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.profile>img{
    height: 50px;
    width: 50px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.details>:nth-child(2) {
    color: white;
    font-weight: 500;
}

.details>:nth-child(1)
{
    font-size: 1rem;
    font-weight: bold;
}
.content{
    margin: auto;
    display: flex;
    height: 100%;
}
.content>div{
    width: 100%;
    min-width: 75vh
}
